---
http_interactions:
- request:
    method: get
    uri: http://api.facebook.com/restserver.php?format=json&method=links.getStats&urls=https://www.google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Facebook-Api-Version:
      - v2.0
    body:
      encoding: UTF-8
      string: '[{"url":"https:\/\/www.google.com\/","normalized_url":"https:\/\/www.google.com\/","share_count":706307,"like_count":267082,"comment_count":82136,"total_count":1055525,"click_count":0,"comments_fbid":"400854551051","commentsbox_count":317}]'
  recorded_at: Fri, 15 Jan 2016 18:34:21 GMT
recorded_with: VCR 3.0.1
