---
http_interactions:
- request:
    method: get
    uri: https://www.linkedin.com/countserv/count/share?format=json&url=https://www.google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Li-Fabric:
      - prod-ltx1
      X-Li-Pop:
      - prod-esp2
      X-Li-Uuid:
      - AesRdkGtKRRAbYpCsyoAAA==
    body:
      encoding: ASCII-8BIT
      string: '{"count":10029,"fCnt":"10K","fCntPlusOne":"10K","url":"https:\/\/www.google.com\/"}'
  recorded_at: Fri, 15 Jan 2016 18:34:19 GMT
recorded_with: VCR 3.0.1
