---
http_interactions:
- request:
    method: get
    uri: http://www.reddit.com/api/info.json?url=https://www.google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Reddit-Tracking:
      - https://pixel.redditmedia.com/pixel/of_destiny.png?v=BDKC9E9gWSmnocNj5dteHFhV8xyPplbWoHY24s02%2FjrlQAzdYDWhrzYa5048%2FagXqJ1LvONHUeo%3D
      X-Moose:
      - majestic
    body:
      encoding: ASCII-8BIT
      string: '{"kind": "Listing", "data": {"modhash": "", "children": [{"kind": "t3",
        "data": {"domain": "google.com", "banned_by": null, "media_embed": {}, "subreddit":
        "clevelandcavs", "selftext_html": null, "selftext": "", "likes": null, "suggested_sort":
        null, "user_reports": [], "secure_media": null, "link_flair_text": null, "id":
        "410rxh", "from_kind": null, "gilded": 0, "archived": false, "clicked": false,
        "report_reasons": null, "author": "livando1", "media": null, "score": 16,
        "approved_by": null, "over_18": false, "hidden": false, "num_comments": 2,
        "thumbnail": "default", "subreddit_id": "t5_2sl2k", "hide_score": false, "edited":
        false, "link_flair_css_class": null, "author_flair_css_class": null, "downs":
        0, "secure_media_embed": {}, "saved": false, "removal_reason": null, "stickied":
        false, "from": null, "is_self": false, "from_id": null, "permalink": "/r/clevelandcavs/comments/410rxh/easiest_way_to_vote_under_ten_seconds/",
        "locked": false, "name": "t3_410rxh", "created": 1452849946.0, "url": "https://www.google.com/#q=NBAVote+cleveland",
        "author_flair_text": null, "quarantine": false, "title": "Easiest way to vote
        (under ten seconds)", "created_utc": 1452821146.0, "distinguished": null,
        "mod_reports": [], "visited": false, "num_reports": null, "ups": 16}}, {"kind":
        "t3", "data": {"domain": "google.com", "banned_by": null, "media_embed": {},
        "subreddit": "MLPLounge", "selftext_html": null, "selftext": "", "likes":
        null, "suggested_sort": null, "user_reports": [], "secure_media": null, "link_flair_text":
        null, "id": "40cqdh", "from_kind": null, "gilded": 0, "archived": false, "clicked":
        false, "report_reasons": null, "author": "DracoAzuleAA", "media": null, "score":
        4, "approved_by": null, "over[...]
