---
http_interactions:
- request:
    method: get
    uri: http://api.tumblr.com/v2/share/stats?url=https://www.google.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"meta":{"status":200,"msg":"OK"},"response":{"url":"https:\/\/www.google.com\/","note_count":39}}'
  recorded_at: Fri, 15 Jan 2016 18:34:16 GMT
recorded_with: VCR 3.0.1
